<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title><%=user%>的帖子</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        body{
            padding-top: 120px;
        }
        .one{
            border-bottom: 1px solid #ccc;
        }
    </style>
</head>

<body>
<% include header.ejs %>

<div class="container jumbotron">
    <img style="float: left; margin-right: 30px" src="/avatar/<%=touxiang%>" alt="">
    <h1 style="float: left"><%=user%>的个人主页</h1>
    <!-- Example row of columns -->
    <div class="row col-lg-6" style="margin-top: 40px">
        <% for(var i = 0; i < tiezis.length; i++){ %>
            <div class="one">
                <p style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">
                    <%=tiezis[i].content%>
                </p>
                <p>
                    <%=tiezis[i].datetime%>
                </p>
            </div>
        <br/>
        <%}%>
    </div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.11.3.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.js"></script>
</body>
</html>
